#darkmode {
  display: inline-block;
  background: url(img/dark-mode.png) left center;
  width: 99px;
  height: 40px;
  font-size: 0;
  text-decoration: none;
}

#productos p {
  font-size: 12px;
}

head {
  border: 1px;
  padding: 10px;
  margin-top: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;

}

header {
  border-bottom: 1px ridge #000000;
}

header h1 {
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.datos {
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

nav ul li a:hover {
  color: #ff5e5e;
}

.img-dulces {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 200px;
}

button {
  border: 0px;
  width: 170px;
  height: 40px;
  color: #fff;
  font-size: 13px;
  background-image: linear-gradient(to right, #303131, #f0e0e0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

button:hover {
  background: #000;
  color: #fff;
  opacity: 1;
}

/* Estilos para la sección de inicio */
#inicio {
  background-color: #f9f9f9;
  padding: 80px 0;
  text-align: center;
}

#inicio h2 {
  padding: 20px;
  font-size: 36px;
  margin: 0 0 20px;
}

#inicio p {
  font-size: 20px;
  margin: 0;
}

/* Estilos para la sección de productos */
#productos {
  background-color: #fff;
  padding: 80px 0;
}

#productos h2 {
  font-size: 36px;
  margin: 0 0 20px;
}

#productos ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#productos li {
  width: 30%;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#productos li:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#productos h3 {
  font-size: 24px;
  margin: 0 0 10px;
}

#productos p {
  font-size: 18px;
  margin: 0;
}

/* Estilos para un formulario */
form {
  background-color: #fff;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

/* Estilos para el carrito de compras */
#carrito {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

#carrito h3 {
  font-size: 20px;
  margin: 0;
}

#carrito ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

#carrito li {
  margin-bottom: 10px;
}

#carrito p {
  font-size: 16px;
  margin: 0;
}

#carrito buttonn {
  padding: 10px 20px;
  border: none;
  background-color: #ff5e5e;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

#carrito button:hhover {
  background-color: #ff7a7a;
}

#darkmode {
  display: inline-block;
  background: url(img/dark-mode.png) left center;
  width: 99px;
  height: 40px;
  font-size: 0;
  text-decoration: none;
}